body {
  color: var(--color-fg);
}

a {
  color: var(--color-fg-bold);
  border-bottom: dotted 1px;
  border-bottom-color: var(--color-main-border);
  text-decoration: none;

  &:hover {
    border-bottom-color: transparent;
    color: var(--color-accent);
  }
}
