/* finish header block */

/* start nav block*/
.nav {
	height: 90px;
	display: flex;
	justify-content: center;

	ul {
		display: flex;
		flex-direction: row;

		li {}
	}
}

.nav__a {
	font-weight: 700;
	text-transform: uppercase;
	color: var(--light-text-color);
	display: flex;
	align-items: center;
}

.nav__a_active,
.nav__a:hover {
	background-color: var(--accent-bg-color);
}

.nav__span {
	padding: 40px;
}