.image {
  border: 0;
  width: 100%;
  &.fit {
    width: 100%;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &.main {
    margin: var(--margin-element);
  }
  &.square {
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}
