@use "../libs/breakpoints";

#features {
  padding: 4rem 0 4rem 0;

  header {
    text-align: center;
    h2 {
      text-transform: uppercase;
    }
  }

  ul.filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li {
      a {
        font-family: var(--family-heading);
        font-weight: var(--weight-bold);
        text-transform: uppercase;
        font-size: 1.75rem;
        padding: 0 1.25rem;
      }
      &.active {
        a {
          color: var(--color-accent);
        }
      }
    }
  }

  ul.gallery {
    display: grid;
    gap: 1.5rem;
    justify-content: center;

    @include breakpoints.sm {
      grid-template-columns: repeat(2, 19.078125rem);
    }
    @include breakpoints.md {
      grid-template-columns: repeat(3, 19.078125rem);
    }
    @include breakpoints.lg {
      grid-template-columns: repeat(4, 19.078125rem);
    }
  }
}
