@use "../libs/breakpoints";

#nav {
  position: relative;
  min-height: 4.9rem;
  background-color: var(--color-invert-bg);
  margin: 0 auto;
  width: 100%;

  ul {
    display: flex;
    justify-content: center;
    li {
      align-items: center;
      a {
        transition: background-color var(--duration-menu) ease-in-out;
        padding: calc(var(--padding-small) * 1.25) var(--padding-small);
        color: var(--color-invert-fg);
        text-transform: uppercase;
        font-size: 0.875rem;
        font-weight: var(--weight-bold);
        outline: none;
        display: block;
      }

      @include breakpoints.xxs {
        display: none;
      }
      @include breakpoints.sm {
        display: flex;
      }
    }
    li.active {
      background-color: var(--color-invert-accent);
    }
    li:hover {
      a {
        transition: background-color var(--duration-menu) ease-in-out;
        background-color: var(--color-invert-accent);
      }
    }
  }
}

body.is-nav-panel-visible {
  #nav {
    ul {
      li {
        display: none;
      }
    }
  }
}
