@use "./../libs/breakpoints";

.wrapper {
  width: 100%;

  > * {
    max-width: var(--breakpoint-xlarge);
    margin: 0 auto;
  }

  @include breakpoints.xxs {
    padding: 0 var(--padding-small) 0 var(--padding-small);
  }

  @include breakpoints.sm {
    padding: 0 var(--padding-medium) 0 var(--padding-medium);
  }
  @include breakpoints.md {
    padding: 0 var(--padding-medium) 0 var(--padding-medium);
  }

  @include breakpoints.lg {
    padding: 0 var(--padding-xlarge) 0 var(--padding-xlarge);
  }
}
